# Ignore everything so if we update via git, nothing is overwritten

/*
/*/
!.gitignore
!/Awards
!/Importer
!/Installer
!/Updater
!/Vacentral
!/ModulesManager
!/Sample
!/phpvms-dashboard
!/phpvms-sample-blade-widget
!/phpvms-sample-vue-widget
!/phpvms-sample-vue-slot

